*{

    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(219, 226, 226);
}
.row{
background-color: bisque;
border-radius: 30px;
box-shadow: 12px 12px 22px;
}
img{
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
}
.btn{
    border: 5;
    outline: black;
    height: 50px;
    width: 100%;
    background-color: black;
    background: rgb(26, 25, 25);
    border-radius: 4px;
    font-weight: bold;
    
}
.btn1:hover{
    background: wheat;
    border: 1px solid;
    columns: black;
}
#p {
    text-align: center;
}